:root {
    --head-line: #00214d;
    --head-line-hover: #003170;
    --sub-head-line: #1b2d45;
    --paragraph: #1b2d45;
    --card-paragraph: #1b2d45;
    --background: #f2f4f6;
    --card-background: #fffffe;
    --button: #00ebc7;
    --highlight: #00ebc7;
    --button-hover: rgb(1, 226, 192);
    --button-text: #00214d;
    --secondary: #ff5470;
    --tertiary: #FF9A33;
    --tertiary-hover: #e68a19;
    --card-highlitght: #ff5470;
    --card-tag-background: #2F6B6E;
    --color7: #e7e7e3;
    --color2: #A25C32;
    --success: #00B73F;
    --success-hover: #008b31;
    --danger: #ff3860;
    --danger-hover: #bb2443;
    --sectina-padding: 100px;
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--head-line);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--head-line-hover);
    cursor: grab;
}

/*Button top*/
.up {
    position: fixed;
    color: white;
    bottom: 50px;
    right: 0;
    background-color: var(--head-line);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 6;
    user-select: none;
    opacity: 0;
}

.up.show {
    right: 30px;
    opacity: 1;

}

.up.show:hover {
    bottom: 55px;
}

body {
    background-color: var(--background);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cairo";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* start media*/
/*Small*/
@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*larger*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end media*/
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Start Header */
header {
    width: 100%;
    height: 90px;
    padding: 5px 15px;
    z-index: 6;
    transition: 0.5s all;
    background-color: #fff;
}

.LoginBtn {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: var(--button);
    transition: 0.5s all;
    text-decoration: none;
    color: var(--button-text);
    text-align: center;
    font-weight: 600;
}

.LoginBtn:hover {
    background-color: var(--button-hover);
}

header.sticky {
    top: 0;
    position: fixed;
    z-index: 999;
    -webkit-box-shadow: 0px 12px 15px -9px rgba(186, 196, 209, 1);
    -moz-box-shadow: 0px 12px 15px -9px rgba(186, 196, 209, 1);
    box-shadow: 0px 12px 15px -9px rgba(186, 196, 209, 1);

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 15px;
    height: 70px;

}

header .container .login .LoginBtn {
    margin: 0;
    padding: 5px 10px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

header nav .toggle_menu {
    font-size: 45px;
    cursor: pointer;
}

@media (min-width: 768px) {
    header nav .toggle_menu {
        display: none;
    }
}

header nav ul {
    margin-right: 15px;
    display: flex;
}

ul a {
    display: block;
    color: var(--paragraph);
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s all;
    padding: 23px 10px;
    position: relative;

}

header nav a::before {
    content: "";
    position: absolute;
    width: 0%;
    background-color: var(--tertiary);
    height: 1px;
    bottom: 20%;
    right: 0;
    transition: 0.5s all;
}

header nav li:hover a::before {
    width: 100%;
}

header nav li:hover a {
    color: var(--highlight);
}

header .logo img {
    height: 35px;
}

@media (min-width: 768px) {
    header nav .toggle_menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header {
        bottom: 0;
    }

    header .container {
        display: flex;
        justify-content: space-between;
    }

    header .LoginBtn {
        padding: 5px 10px;
        font-size: 13px;
    }

    header nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        z-index: 6;
        flex: 1;
    }

    header nav i {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    header nav ul {
        display: none;
    }

    header nav .toggle_menu {
        font-size: 35px;
        cursor: pointer;
    }

    header nav .toggle_menu.active {
        transition: 0.5s all;
        background-color: var(--head-line);
        color: #Fff;
        border-radius: 2px;
    }

    header .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav .menu {
        margin: 0;
        transition: 0.5s all;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        position: fixed;
        right: -70%;
        top: 0;
        width: 50%;
        background-color: #ffffff;
        text-align: right;
        z-index: 1;
        user-select: none;
        padding-right: 10px;
        height: 430px;
        border-radius: 10px 0 0 10px;
        -webkit-box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
        -moz-box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
        box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
        transform: translate(0, 18%);
    }

    header nav .show_menu {
        right: 0;
    }

    header ul li a {
        color: #000000;
    }

    header nav ul li a:not(:first-child) {
        padding: 15px !important;
    }
}

/* End Header */
/* Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: var(--color1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown::after {
    position: absolute;
    content: "\f078";
    font-family: "FontAwesome";
    right: 0;
    bottom: 0%;
    cursor: pointer;
}

.dropdown img {
    border-radius: 50%;
    width: 50px;
    border: 1px solid var(--color1);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 111%;
    border-radius: 5px;
    text-align: left;
    border: 1px solid var(--highlight);
}

.show {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-bottom: 1px solid var(--head-line);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.setting {
    margin-top: 50px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

.sidebar {
    align-items: flex-start;
    background: #fff;
    border: 1px solid #d9dde4;
    border-radius: 2px;
    overflow: hidden;
    height: fit-content;
}

.sidebar__list-item {
    border-bottom: 1px solid #ebedf0;
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 24px;
    position: relative;
    transition: all .3s;
    color: #001433;
}

.sidebar__list-item:hover {
    background-color: #eeeeee;
}

.sidebar__list-item i {
    margin-right: 10px;
}

.sidebar__list-item.is_active::before {
    background: #0055d9;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.is_active {
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
}

.box {
    padding: 20px;
    border-radius: 5px;
}

.box:not(:first-child) {
    margin-top: 25px;
}

.Password-info,
.contact_info,
.personal-info {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact_info {
    margin-top: 50px;
}

.form-control label {
    margin-bottom: 25px;
    font-weight: 500;
}

.form-control {
    position: relative;
}


.full_name {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.full_name .form-control span {
    top: 37%;
    right: 5%;
}

.form-control input:not(input[type='file']) {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



.Password-info input:focus,
.contact_info input:focus,
.personal-info input:focus {
    outline: none;
}

.contact_info #email {
    border: none;
    user-select: none;
}


.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.img-box {
    width: 150px;
}

.personal-info img {
    max-width: 100%;
    border-radius: 50%;

}

.Password-info button,
.contact_info button,
.personal-info button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact_info input[type="submit"]:hover,
.personal-info input[type="submit"]:hover {
    background-color: #0056b3;
}



@media (max-width: 767px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 15px;
    }
}


.asterisk {
    position: absolute;
    font-size: 25px;
    color: rgb(255, 51, 51);
    top: 7%;
    right: 3%;

}

.success-message {
    position: fixed;
    color: rgb(0, 0, 0);
    right: -27%;
    padding: 15px 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 500;
    transition: 0.7s all;
    z-index: 999;
    width: 250px;
    text-align: center;
    cursor: pointer;
}



.success-message.show-success {
    right: 5%;
    background-color: rgb(250, 250, 250);
    border-top: 5px solid var(--success);
    border-bottom: 5px solid var(--success);
}

.success-message.show-failed {
    right: 4%;
    background-color: rgb(250, 250, 250);
    border-top: 5px solid var(--danger);
    border-bottom: 5px solid var(--danger);
}

.success-message.show-success::after,
.success-message.show-failed::after {
    position: absolute;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    content: "\f00d";
    color: #000;
    top: 36%;
    right: 8%;
}

.success-message.show-failed::before {
    position: absolute;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    content: "\f06a";
    color: var(--danger);
    top: 38%;
    left: 8%;
}

.success-message.show-success::before {
    position: absolute;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    content: "\f058";
    top: 38%;
    left: 8%;
    color: var(--success);
}

@media only screen and (max-width: 767px) {
    .success-message {
        left: -55%;
    }
}

.invalid-num-value,
.invalid-username-value,
.invalid-lName-value,
.invalid-fName-value {
    margin-top: -20px;
    font-size: 14px;
    margin-left: 15px;
    color: var(--danger);
    position: relative;
    display: none;
}

.invalid-num-value::before,
.invalid-username-value::before,
.invalid-lName-value::before,
.invalid-fName-value::before {
    position: absolute;
    content: "*";
    left: -4%;
    top: -34%;
    font-size: 30px;
}