:root {
  --color3hover: #e68a19;
  --color4: #00c0b7;
  --color7: #f9f9f6;
  --color8: #04363e;
  --color9: #2f6b6e;
  --third-color: #777;
  --head-line: #00214d;
  --head-line-hover: #003170;
  --sub-head-line: #1b2d45;
  --paragraph: #1b2d45;
  --card-paragraph: #1b2d45;
  --background: #f2f4f6;
  --card-background: #fffffe;
  --button: #00ebc7;
  --highlight: #00ebc7;
  --button-hover: rgb(1, 226, 192);
  --button-text: #00214d;
  --secondary: #ff5470;
  --tertiary: #ff9a33;
  --tertiary-hover: #e68a19;
  --card-highlitght: #ff5470;
  --card-tag-background: #2f6b6e;
  --color7: #e7e7e3;
  --color2: #a25c32;
  --success: #00b73f;
  --success-hover: #008b31;
  --section-padding: 100px;
}

body {
  background-color: var(--color7);
  font-family: "Cairo";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* start media*/
/*Small*/
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*larger*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*Button top*/

.up {
  position: fixed;
  color: white;
  bottom: 50px;
  right: 0;
  background-color: var(--color8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 6;
  user-select: none;
  opacity: 0;
}

.up.show {
  right: 30px;
  opacity: 1;
}

.up.show:hover {
  bottom: 55px;
}

/* end media*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* min-height: 97px; */
}

/* Start Header */

header {
  width: 100%;
  height: 90px;
  z-index: 6;
  transition: 0.5s all;
}

.LoginBtn {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #fff;
  transition: 0.5s all;
  text-decoration: none;
  color: var(--color8);
  text-align: center;
}

.LoginBtn:hover {
  background-color: var(--color7);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
}

header .container .login .LoginBtn {
  margin: 0;
  padding: 5px 10px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

header nav .toggle_menu {
  font-size: 45px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .toggle_menu {
    display: none;
  }
}

header nav ul {
  margin-right: 15px;
  display: flex;
}

ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s all;
  padding: 23px 10px;
  position: relative;
  z-index: 2;
}

header nav a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--color3hover);
  height: 1px;
  bottom: 20%;
  right: 0;
  transition: 0.5s all;
}

header nav li:hover a::before {
  width: 100%;
}

header nav li:hover a {
  color: var(--color7);
}

header .logo img {
  height: 35px;
}

@media (min-width: 768px) {
  header nav .toggle_menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header.sticky .container {
    background-color: var(--color8);
    transition: 0.5s all;
  }

  header .container {
    display: flex;
    justify-content: space-between;
  }

  header .LoginBtn {
    padding: 5px 10px;
    font-size: 13px;
  }

  header .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 6;
    flex: 1;
  }

  header.sticky {
    top: 0;
    position: fixed;
    z-index: 5;
    transition: 0.5s all;
  }

  header nav i {
    color: white;
  }

  header nav ul {
    display: none;
  }

  header nav .menu {
    margin: 0;
    transition: 0.5s all;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: fixed;
    right: -70%;
    top: 0;
    width: 50%;
    background-color: #ffffff;
    text-align: right;
    z-index: 1;
    user-select: none;
    padding-right: 10px;
    height: 430px;
    border-radius: 10px 0 0 10px;
    transform: translate(0, 18%);
  }

  header nav .show_menu {
    right: 0;
  }

  header .container .login .LoginBtn {
    display: none;
  }

  header nav .menu li:hover a {
    color: var(--color4);
  }

  header ul li a {
    color: #000000;
  }

  header nav ul li a:not(:first-child) {
    padding: 15px !important;
  }
}

/* End Header */
/* Start Contact Us */
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(52, 174, 180);
  background: linear-gradient(
    16deg,
    rgba(52, 174, 180, 1) 0%,
    rgba(16, 82, 84, 1) 100%
  );
  z-index: -50;
  transform: skewY(-13deg);
  transform-origin: top left;
  border: none;
}

.main_section .container .contact {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 54px -16px rgba(3, 72, 235, 0.47);
  -moz-box-shadow: 0px 0px 54px -16px rgba(3, 72, 235, 0.47);
  box-shadow: 0px 0px 54px -16px rgba(3, 72, 235, 0.47);
  gap: 15px;
}

.contact .right {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  width: 100%;
}

.contact .right .text {
  text-align: right;
  padding: 10px;
}

.contact .right .text h2 {
  color: var(--color8);
  margin-bottom: 15px;
}

.contact .right .text p {
  font-size: 14px;
  color: var(--third-color);
}

.contact .right .content {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  width: 100%;
}

.contact .right .content #form {
  flex-basis: 100%;
}

.contact .content #form .main-input {
  padding: 20px;
  display: block;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  background-color: #fbf3fc;
  text-align: right;
  height: 60px;
}
.input-control {
  position: relative;
}
.input-control .error-message {
  position: absolute;
  bottom: -25%;
  font-size: 11px;
  color: red;
  width: 100%;
  text-align: right;
}
.input-control .error-message.m {
  position: absolute;
  bottom: -8%;
  font-size: 11px;
  color: red;
  width: 100%;
  text-align: right;
}
.contact .content #form .main-input:focus {
  outline: none;
}

.contact .content #form textarea.main-input {
  height: 200px;
  resize: none;
  overflow: hidden;
}

.contact .content #form button {
  background: var(--color9);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 25px;
}

.contact .content #form button:hover {
  background-color: var(--color8);
}

.contact .left {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  width: 100%;
  align-items: center;
}

.contact .left .contact_img {
  margin-top: 50px;
}

.contact .left .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  gap: 15px;
}

.contact .left .info .box {
  display: flex;
  padding: 10px 15px;
  width: 300px;
  align-items: center;
}

.contact .left .info i {
  color: var(--color9);
  font-size: 30px;
  transition: 0.5s all;
}

.contact .left .info span {
  position: relative;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s all;
}

.contact .left .info span::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  border: 1px solid var(--color9);
  border-radius: 50%;
}

.contact .left .info span:hover {
  background-color: var(--color9);
}

.contact .left .info span:hover svg {
  color: #fff;
}

.contact .left .info .box a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: 0.5s all;
}

.contact .left .info .box a:hover {
  color: var(--color4);
}

/*contact mobile media*/
@media (max-width: 747px) {
  .contact {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .contact .right .text {
    text-align: center;
  }

  .contact .left .contact_img {
    display: none;
  }

  .contact .left .info {
    margin-top: 5px;
  }
}

/* End Contact Us */
.modal-container-2,
.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 400px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}
.modal-content P {
  margin-top: 5px;
  text-align: right;
}
.modal-content h2 {
  margin: 20px 0px;
  font-size: 20px;
}
.close,
.modal-content-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #446cb3;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.close,
.modal-content-btn:hover {
  background-color: #365690;
}
/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--color1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::after {
  position: absolute;
  content: "\f078";
  font-family: "FontAwesome";
  right: 0;
  bottom: 0%;
  cursor: pointer;
}

.dropdown img {
  border-radius: 50%;
  width: 50px;
  border: 1px solid var(--color1);
}

/* Dropdown Content (Hidden by Default) */
/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--color1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::after {
  position: absolute;
  content: "\f078";
  font-family: "FontAwesome";
  right: 0;
  bottom: 0%;
  cursor: pointer;
}

.dropdown img {
  border-radius: 50%;
  width: 50px;
  border: 1px solid var(--color1);
}

/* Dropdown Content (Hidden by Default) */
.dropMenuContainer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.dropdown-content {
  display: block;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px;
  max-width: 90%;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid var(--highlight);
}

/* Links inside the dropdown */
.dropdown-content button {
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-align: right;
  position: relative;
  font-size: 15px;
  font-weight: 400;
}
.dropdown-content a {
  position: relative;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
}
.dropdown-content button::after,
.dropdown-content a::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f104";
  color: #000;
  left: 5%;
}
.show {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover,
.dropdown-content a:hover {
  background-color: #ddd;
  border-bottom: 1px solid var(--head-line);
}

.update-message {
  position: fixed;
  transform: translateY(550px);
  right: 30%;
  background-color: var(--success);
  color: #fff;
  padding: 15px 35px 15px 15px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  cursor: pointer;
  z-index: 999;
}
.update-message::after {
  position: absolute;
  font-weight: 600;
  content: "X";
  top: 30%;
  text-align: center;
  right: 5%;
}
.update-message.show {
  opacity: 1;
  transform: translateY(400px);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}
.update-message.hide {
  opacity: 0;
  transform: translateY(550px);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
