/* Start Landing */
.langing {
    background-image: url("../images/home_background\ \(Medium\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.langing .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.langing .container .content {
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.langing .container .content h1 {
    background-color: #fff;
    padding: 15px 81px;
    color: var(--tertiary);
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.langing .container .content p {
    line-height: 2;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    font-stretch: condensed;
}

@media (max-width: 767px) {
    .langing .container {
        padding: 0px 0px;
    }

    .langing .container .content {
        padding: 5px 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    .langing .container .content p {
        font-size: 40px;
    }

    .langing .container .content h1 {
        background-color: #fff;
        padding: 10px 50px;
        color: var(--color3);
        border-radius: 15px;
        margin-bottom: 10px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .langing .container .content {
        padding: 5px 10px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .langing .container .content p {
        line-height: 1;
        font-size: 30px;
        font-weight: 500;
    }

    .langing .container .content h1 {
        background-color: #fff;
        padding: 10px 50px;
        color: var(--color3);
        border-radius: 15px;
        margin-bottom: 20px;
        font-size: 20px;
        width: 100%;
    }
}

/* End Landing */

/* Start design  */
.design {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

.design .container {
    display: flex;
    justify-content: space-between;
}

.design .container .design_img {
    width: 350px;
}

.design .container img {
    width: 100%;
    border-radius: 10px;
}


.design .container .design_content {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    justify-content: center;
}


.design .container .design_content p {
    text-wrap: wrap;
    font-size: 35px;
    line-height: 1.8;
    font-weight: 600;
}






@media (max-width: 765px) {
    .design .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .design .container .design_content {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .design .container .design_content p {
        font-size: 20px;
    }
}

/* End design  */

/* Start stats */
.stats {
    margin-top: 100px;
    padding: var(--sectina-padding);
    padding-bottom: var(--sectina-padding);
    text-align: center;
    background-size: cover;
    position: relative;
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: var(--color8);
    padding: 25px;
    background-color: #fff;
}

@media (max-width:870px) {
    .stats {
        padding: 0;
    }

    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (max-width:767px) {
    .stats {
        padding: 0px 50px;
    }
}

@media (min-width:768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box svg {
    width: 25px;
    height: 25px;
    display: flex;
    color: var(--color3);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 10%;
}

.stats .container .box .number {
    font-size: 37px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 30px;
}

/* End stats */