:root {
  --head-line: #00214d;
  --head-line-hover: #003170;
  --sub-head-line: #1b2d45;
  --paragraph: #1b2d45;
  --card-paragraph: #1b2d45;
  --background: #f2f4f6;
  --card-background: #fffffe;
  --button: #00ebc7;
  --highlight: #00ebc7;
  --button-hover: rgb(1, 226, 192);
  --button-text: #00214d;
  --secondary: #ff5470;
  --tertiary: #ff9a33;
  --tertiary-hover: #e68a19;
  --card-highlitght: #ff5470;
  --card-tag-background: #2f6b6e;
  --color7: #e7e7e3;
  --success: #00b73f;
  --success-hover: #008b31;
  --danger: #ff3860;
  --danger-hover: #bb2443;
  --sectina-padding: 100px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--head-line);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--head-line-hover);
  cursor: grab;
}

body {
  background-color: var(--background) !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cairo";
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* start media*/
/*Small*/
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*larger*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end media*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Start Header */

header {
  width: 100%;
  height: 90px;
  padding: 5px 15px;
  z-index: 6;
  transition: 0.5s all;
  background-color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 15px;
  height: 70px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

header nav .toggle_menu {
  font-size: 45px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .toggle_menu {
    display: none;
  }
}

header nav ul {
  margin-right: 15px;
  display: flex;
}

ul a {
  display: block;
  color: var(--paragraph);
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s all;
  padding: 23px 10px;
  position: relative;
  z-index: 2;
}

header nav a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--tertiary);
  height: 1px;
  bottom: 20%;
  right: 0;
  transition: 0.5s all;
}

header nav li:hover a::before {
  width: 100%;
}

header nav li:hover a {
  color: var(--highlight);
}

header .logo img {
  height: 35px;
}

@media (min-width: 768px) {
  header nav .toggle_menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header {
    bottom: 0;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav i {
    color: rgb(0, 0, 0);
  }

  header nav ul {
    display: none;
  }

  header nav .menu {
    margin: 0;
    transition: 0.5s all;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: fixed;
    right: -70%;
    top: 0;
    width: 50%;
    background-color: #ffffff;
    text-align: right;
    z-index: 1;
    user-select: none;
    padding-right: 10px;
    height: 430px;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
    box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
    transform: translate(0, 18%);
  }

  header nav .show_menu {
    right: 0;
  }

  header .container .login .LoginBtn {
    display: none;
  }

  header nav .menu li:hover a {
    color: var(--tertiary);
  }

  header ul li a {
    color: #000000;
  }

  header nav ul li a:not(:first-child) {
    padding: 15px !important;
  }
}

/* End Header */
/* Start Form  */

.form_box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form_box .back_img {
  background-image: url("../../ar/images/background_form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  min-width: 120vh;
  padding: 10px 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.form_box .form_content {
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.form_box .form_content .title {
  text-align: right;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 35px;
}

.form_box .form_content h1 span {
  font-size: 50px;
}

@media (max-width: 768px) {
  .form_box {
    padding: 0 10px;
  }

  .form_box .back_img {
    min-width: 100%;
    padding: 10px 20px;
  }
}

@media (max-width: 400px) {
  .form_box {
    padding: 0 10px;
  }

  .form_box .back_img {
    min-width: fit-content;
    padding: 10px 20px;
  }

  .form_box .form_content .title {
    font-size: 30px;
  }
}

.form_box .back_img form {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  gap: 17px;
  justify-content: end;
  align-items: end;
}

.form_box .back_img form .input-box {
  width: 100%;
  position: relative;
}
#restPass {
  width: 100%;
  text-align: right;
  margin: -17px 7px;
  font-size: 13px;
  color: #fff;
}
.form_box .back_img form .input-box input:not(:last-child) {
  margin-bottom: 5px;
}

.message {
  background-color: rgb(255, 65, 103, 0.6);
  width: 100%;
  text-align: right;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 15px;
  margin: -15px 0px -5px 0px;
}

.form_box .back_img form .input-box input {
  width: 300px;
  height: 45px;
  padding: 15px;
  border-radius: 30px;
  outline: none;
  border: none;
  text-indent: 30px;
}

.form_box .back_img form .input-box input:focus {
  border: 1px solid var(--success);
}

@media (max-width: 450px) {
  .form_box .back_img form .input-box input {
    width: 100%;
  }
}

.input-box input::placeholder {
  text-indent: 30px;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-65%, -50%);
  color: var(--highlight);
  font-size: 20px;
}

.form_box .back_img form .check-box {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  justify-content: end;
}

.form_box .back_img form .check-box label {
  color: #fff;
}

.form_box .back_img form .check-box input {
  width: 20px;
  cursor: pointer;
}

.form_box .back_img form .submit_btn {
  width: 100%;
}

.form_box .back_img form .submit_btn button {
  padding: 10px 30px;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 30px;
  color: var(--button-text);
  background-color: var(--button);
  transition: 0.5s;
}

.form_box .back_img form .submit_btn button:hover {
  background-color: var(--button-hover);
}

.form_box .back_img form a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 100%;
  transition: 0.5s all;
}

.form_box .back_img form a:hover {
  text-decoration: underline;
  color: #eeeeee;
}

/* show password */
#eyeShowPassword {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  color: var(--head-line);
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
}

#eyeHidePassword {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  color: var(--head-line);
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
  display: none;
}

/* Error message */

p.error_message {
  display: none;
  position: absolute;
  transition: 0.5s all;
  font-size: 13px;
  width: 100%;
  text-align: right;
  padding: 0px 30px;
  bottom: 0;
  right: 0;
  color: #ffffff;
  transform: translate(0, 80%);
}

p.error_message::before {
  content: "\2a";
  position: absolute;
  color: var(--danger);
  font-size: 36px;
  right: 3%;
  top: -41%;
}

@media (max-width: 500px) {
  .error_message {
    font-size: 10px;
    width: 50%;
  }
}

/* End Form  */
/* The alert message box */
.alert {
  position: fixed;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.alert .btns {
  z-index: 100;
  display: flex;
  gap: 10px;
  justify-content: end;
}
.alert .btns button {
  outline: none !important;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}
.alert .btns button.logout {
  border: none;
  background-color: var(--button-text);
  transition: 0.5s all;
}
.alert .btns button.logout:hover {
  background-color: var(--head-line-hover);
}
.alert .btns button.cancel {
  background-color: transparent;
  border: 1px solid;
  transition: 0.5s all;
  color: #f44336;
}
.alert .btns button.cancel:hover {
  background-color: #ff00000e;
}
.alert .content p {
  line-height: 1.5;
  text-align: right;
}
.alert .content {
  position: absolute;
  color: #f44336;
  background-color: #fff;
  border-top: 25px solid #f44336;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  top: 28%;
  border-radius: 5px;
  z-index: 100;
  width: 300px;
}
.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #00000017;
  z-index: 100;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.logout_message {
  position: fixed;
  background-color: #575757;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  bottom: -10%;
  left: 40%;
}
.logout_message.show{
  transform: translateY(100%);
}