:root {
  --head-line: #00214d;
  --head-line-hover: #003b88;
  --sub-head-line: #1b2d45;
  --paragraph: #16415a;
  --card-paragraph: #1b2d45;
  --background: #f2f4f6;
  --card-background: #fffffe;
  --button: #16415a;
  --highlight: #00c0b7;
  --button-hover: #1f597a;
  --button-text: #ffffff;
  --secondary: #ff5470;
  --tertiary: #ff9a33;
  --tertiary-hover: #e68a19;
  --card-highlitght: #ff5470;
  --card-tag-background: #2f6b6e;
  --color7: #e7e7e3;
  --color2: #a25c32;
  --success: #00b73f;
  --success-hover: #008b31;
  --sectina-padding: 100px;
  --green-color: #22c55e;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--head-line);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--head-line-hover);
  cursor: grab;
}

/*Button top*/
.up {
  position: fixed;
  color: white;
  bottom: 50px;
  right: 0;
  background-color: var(--head-line);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 6;
  user-select: none;
  opacity: 0;
}

.up.show {
  right: 30px;
  opacity: 1;
}

.up.show:hover {
  bottom: 55px;
}

body {
  background-color: var(--background);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cairo";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* start media*/
/*Small*/
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*larger*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end media*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Start Header */
header {
  width: 100%;
  height: 90px;
  padding: 5px 15px;
  z-index: 6;
  transition: 0.5s all;
  background-color: #fff;
}

.LoginBtn {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: var(--button);
  transition: 0.5s all;
  text-decoration: none;
  color: var(--button-text);
  text-align: center;
  font-weight: 600;
}

.LoginBtn:hover {
  background-color: var(--button-hover);
}

header.sticky {
  top: 0;
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0px 12px 15px -9px rgba(186, 196, 209, 1);
  -moz-box-shadow: 0px 12px 15px -9px rgba(186, 196, 209, 1);
  box-shadow: 0px 12px 15px -9px rgba(186, 196, 209, 1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 15px;
  height: 70px;
}

header .container .login .LoginBtn {
  margin: 0;
  padding: 5px 10px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

header nav .toggle_menu {
  font-size: 45px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .toggle_menu {
    display: none;
  }
}

header nav ul {
  margin-right: 15px;
  display: flex;
}

header nav ul a {
  display: block;
  color: var(--paragraph);
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s all;
  padding: 23px 10px;
  position: relative;
}

header nav a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--tertiary);
  height: 1px;
  bottom: 20%;
  right: 0;
  transition: 0.5s all;
}

header nav li:hover a::before {
  width: 100%;
}

header nav li:hover a {
  color: var(--highlight);
}

header .logo img {
  height: 35px;
}

@media (min-width: 768px) {
  header nav .toggle_menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header {
    bottom: 0;
  }

  header .container {
    display: flex;
    justify-content: space-between;
  }

  header .LoginBtn {
    padding: 5px 10px;
    font-size: 13px;
  }

  header nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 6;
    flex: 1;
  }

  header nav i {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  header nav ul {
    display: none;
  }

  header nav .toggle_menu {
    font-size: 35px;
    cursor: pointer;
  }

  header nav .toggle_menu.active {
    transition: 0.5s all;
    background-color: var(--head-line);
    color: #fff;
    border-radius: 2px;
  }

  header .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav .menu {
    margin: 0;
    transition: 0.5s all;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: fixed;
    right: -70%;
    top: 0;
    width: 50%;
    background-color: #ffffff;
    text-align: right;
    z-index: 1;
    user-select: none;
    padding-right: 10px;
    height: 430px;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
    box-shadow: -61px 0px 125px -35px rgba(0, 0, 0, 0.62);
    transform: translate(0, 18%);
  }

  header nav .show_menu {
    right: 0;
  }

  header ul li a {
    color: #000000;
  }

  header nav ul li a:not(:first-child) {
    padding: 15px !important;
  }
}

/* End Header */
/* start form  */
.form_search {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--paragraph);
  border: none;
  border-radius: 8px;
}

.form_search .check_btn {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  gap: 13px;
}

.form_search .check_btn input[type="radio"] {
  display: none;
}

.form_search .check_btn .toggle-radio {
  -webkit-appearance: none;
  appearance: none;
}

.form_search .check_btn .toggle-buy,
.form_search .check_btn .toggle-rent {
  background-color: #f1f1f1;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  padding: 20px;
  outline: none;
}

.form_search .check_btn .toggle-buy::before {
  position: absolute;
  content: "للبيع";
  width: 95%;
  height: 95%;
  border-radius: 5px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.form_search .check_btn .toggle-rent::before {
  position: absolute;
  content: "للإيجار";
  width: 95%;
  height: 95%;
  border-radius: 5px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.toggle-radio:checked + .toggle-rent::before,
.toggle-radio:checked + .toggle-buy::before {
  border: 2px solid var(--highlight);
}

.form_search .search_inputs {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0px;
  justify-content: space-between;
}

.form_search .search_inputs .input_control_search {
  position: relative;
}

.form_search .search_inputs .input_control_search #searchInput {
  padding: 10px;
  width: 485px;
  height: 50px;
  text-align: right;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-right: 30px;
  user-select: none;
}

.form_search .search_inputs .input_control_search #searchInput::placeholder {
  text-align: right;
}

.form_search .search_inputs .input_control_search i {
  color: #a1a1a1;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-12%, 63%);
  font-size: 24px;
}

/* start suggestion list */
.suggestion-list {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-right: 5px;
  max-height: 150px;
  overflow-y: auto;
  background-color: #dddddd;
  text-align: right;
  z-index: 3;
}

.suggestion-list li {
  padding: 5px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #d6d6d6;
}

.no-suggestion-message {
  background-color: #fff;
  position: absolute;
  color: var(--secondary);
  font-style: italic;
  text-align: right;
  width: 100%;
  padding: 0px 4px 4px 2px;
  top: 97%;
  left: 0%;
  border-radius: 5px;
  z-index: 3;
}

/* end suggestion list */
/* Remove IE arrow */
.form_search .select select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.form_search .select_type {
  position: relative;
  display: flex;
  width: 150px;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  margin-right: 10px;
}

.form_search .select_type select {
  appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  background-image: none;
  cursor: pointer;
  text-align: right;
  color: #000;
  user-select: none;
}

/* Arrow */
.form_search .select_area p::after,
.form_search .select_price p::after,
.form_search .select_type::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  color: #000;
  transition: 0.25s all ease;
  pointer-events: none;
}

/* Transition */
.form_search .select_area p:hover::after,
.form_search .select_price p:hover::after,
.form_search .select_type:hover::after {
  color: var(--tertiary);
}

.form_search .select_area,
.form_search .select_price {
  background-color: #fff;
  height: fit-content;
  text-align: right;
  width: 150px;
  height: 3em;
  border-radius: 0.25em;
  position: relative;
}

.form_search .select_area p,
.form_search .select_price p {
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5px 10px;
  border-radius: 0.25em;
  user-select: none;
}

.form_search .select_area p span {
  font-size: 12px;
}

.form_search .select_area .area_input,
.form_search .select_price .price_input {
  position: absolute;
  display: none;
  border-radius: 0.25em;
  bottom: 0;
  left: 0;
  transform: translate(0, 105%);
  gap: 7px;
  padding: 10px 20px;
  background-color: #fff;
  align-items: center;
  flex-direction: row-reverse;
}

.form_search .select_area .area_input .input_field,
.form_search .select_price .price_input .input_field {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form_search .select_area .area_input .rest_area_input,
.form_search .select_price .price_input .rest_price_input {
  user-select: none;
  padding: 7px 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: var(--button);
  color: var(--button-text);
  border-radius: 5px;
}

.form_search .select_area .area_input .input_field_max,
.form_search .select_area .area_input .input_field_min,
.form_search .select_price .price_input .input_field_max,
.form_search .select_price .price_input .input_field_min {
  position: relative;
}

.form_search .select_area .area_input .input_field_max ul,
.form_search .select_area .area_input .input_field_min ul,
.form_search .select_price .price_input .input_field_max ul,
.form_search .select_price .price_input .input_field_min ul {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
  max-height: 150px;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  text-align: right;
  z-index: 3;
}

.form_search .select_area .area_input .input_field_max ul li,
.form_search .select_area .area_input .input_field_min ul li,
.form_search .select_price .price_input .input_field_max ul li,
.form_search .select_price .price_input .input_field_min ul li {
  margin-top: 10px;
  transition: 0.3s all;
  cursor: pointer;
  font-size: 20px;
  text-align: right;
  padding: 5px;
}

.form_search .select_area .area_input .input_field_max ul li:hover,
.form_search .select_area .area_input .input_field_min ul li:hover,
.form_search .select_price .price_input .input_field_max ul li:hover,
.form_search .select_price .price_input .input_field_min ul li:hover {
  background-color: var(--color7);
}

.form_search .select_area .area_input input,
.form_search .select_price .price_input input {
  outline: none;
  box-shadow: none;
  cursor: text;
  text-align: right;
  font-size: 15px;
  padding: 13px 5px;
  border: 0.1px solid var(--head-line);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* Safari, Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* Standard property */
  -webkit-appearance: none;
  margin: 0;
}

.form_search .select_price .show_price_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.form_search .select_area .show_area_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.form_search .search_inputs .submit_btn {
  position: relative;
  margin-right: 10px;
}

.form_search .search_inputs .submit_btn button {
  width: 100px;
  height: 50px;
  background-color: var(--tertiary);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;
}

.form_search .search_inputs .submit_btn button:hover {
  background-color: var(--tertiary-hover);
}

.form_search .search_inputs .submit_btn button svg {
  font-size: 30px;
  color: #fff;
}

/* end search_inputs */
/* media for form */
@media (max-width: 1115px) {
  .form_search .search_inputs .input_control_search,
  .form_search .search_inputs .input_control_search #searchInput {
    width: 280px;
  }

  .form_search .select_type {
    width: 150px;
  }

  .form_search .select_price {
    width: 150px;
  }
}

@media (max-width: 992px) {
  .form_search .search_inputs .input_control_search,
  .form_search .search_inputs .input_control_search #searchInput {
    width: 200px;
  }

  .form_search .select_type {
    width: 120px;
  }

  .form_search .select_price {
    width: 90px;
  }
}

@media (max-width: 767px) {
  .form_search {
    background: none;
  }

  .form_search .search_inputs .input_control_search {
    position: relative;
  }

  .form_search .search_inputs .input_control_search,
  .form_search .search_inputs .input_control_search #searchInput {
    width: 100%;
  }

  .no-suggestion-message {
    width: 100%;
    left: 0%;
    background-color: var(--card-background);
  }

  .form_search .search_inputs .submit_btn button {
    position: absolute;
    width: 66px;
    height: 45px;
    top: 0;
    left: 0;
    transform: translate(20%, 7%);
  }

  .form_search .search_inputs .submit_btn button svg {
    font-size: 20px;
  }
}

/* end form */
/* Start widget  */
.widget-container {
  margin-top: 30px;
  padding-top: var(--sectina-padding);
  padding-bottom: var(--sectina-padding);
}

.widget-container .container .widgets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}

.widget-container .container .main-heading {
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}

.widget-container .container .main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  user-select: none;
}

.widget-container .container .main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  height: 2px;
  background-color: black;
  width: 120px;
}

.widget-container .container .main-heading h2::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: white;
  left: 50%;
  border-radius: 50%;
  border: 1px solid;
  transform: translateX(-50%);
  bottom: -37px;
}

.widgets .property-body {
  background-color: var(--card-background);
  transition: 0.5s;
}

.widgets .property-body:hover {
  margin-top: 2.5px;
  -webkit-box-shadow: -1px 9px 5px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: -1px 9px 5px 0px rgba(128, 128, 128, 1);
  box-shadow: -1px 9px 5px 0px rgba(128, 128, 128, 1);
}

.widgets .property-body .images-details {
  position: relative;
}

.property-body .images-details .prop-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.images-details .details-top {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  flex-direction: row-reverse;
  align-items: center;
}

.images-details .details-top .details-type {
  display: flex;
  gap: 20px;
}

.images-details .details-top .details-type .type1 {
  width: 90px;
  color: #000000;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 5px 0px;
  border-radius: 7px;
}

.images-details .details-top .details-type .rent {
  width: 90px;
  color: #fff;
  text-align: center;
  background-color: var(--highlight);
  padding: 5px 0px;
  border-radius: 7px;
}

.images-details .details-top .details-type .buy {
  width: 90px;
  color: #ffffff;
  text-align: center;
  background-color: var(--color2);
  padding: 5px 0px;
  border-radius: 7px;
}

.images-details .details-top .favorite-box {
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}

.images-details .details-top .favorite-box button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}
.images-details .details-top .favorite-box.favorated,
.images-details .details-top .favorite-box.favorated svg {
  background-color: var(--secondary);
  color: #fff;
}
.images-details .details-top .favorite-box:hover {
  background-color: var(--secondary);
}

.favorite-box:hover button span svg {
  color: #fff;
}

.images-details .details-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 5px;
}

.details-bottom .property-details {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 5px;
  width: 250px;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.details-bottom .property-details .area,
.details-bottom .property-details .rooms,
.details-bottom .property-details .bath {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background-color: var(--card-tag-background);
}

.details-bottom .property-details .rooms,
.details-bottom .property-details .bath {
  padding: 5px 8px;
  gap: 5px;
}

.details-bottom .property-details .area {
  padding: 5px 10px;
  width: 100%;
}

.images-details .details-bottom .photos {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--card-tag-background);
  height: 30px;
  color: #fff;
  border-radius: 5px;
}

.widgets .property-body .proparty-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: end;
  border-radius: 0 0 10px 10px;
}

.widgets .property-body .proparty-info .location {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0px;
}

.widgets .property-body .proparty-info .location p {
  margin-right: 10px;
  color: var(--sub-head-line);
}

.widgets .property-body .proparty-info .location svg {
  color: var(--card-tag-background);
}

.widgets .property-body .proparty-info .description {
  margin-bottom: 10px;
  padding: 5px 0px;
}

.widgets .property-body .proparty-info .description p {
  color: var(--card-paragraph);
}

.widgets .property-body .proparty-info .price {
  margin-bottom: 10px;
  padding: 5px 0px;
}

.widgets .property-body .proparty-info .price p {
  font-size: 25px;
  color: var(--sub-head-line);
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
}

.widgets .property-body .proparty-info .owner a {
  margin-bottom: 10px;
  padding: 5px 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.widgets .property-body .proparty-info hr {
  width: 100%;
}

.widgets .property-body .proparty-info .owner p {
  color: var(--card-tag-background);
  font-size: 20px;
  margin-left: 10px;
}

.widgets .property-body .proparty-info .owner a span {
  text-decoration: none;
  color: var(--sub-head-line);
  font-size: 20px;
  transition: 0.2s all;
}

.widgets .property-body .proparty-info .owner a:hover span {
  color: var(--highlight);
}

/* animate property body */
.property-body {
  transition: 0.5s ease-out;
}
.property-body.hide {
  opacity: 0;
  transform: scale(0);
  /* transition: opacity 1.5s, transform 1.5s; */
}

.property-body.show {
  opacity: 1;
  transform: scale(1);
}

/* ُEnd widget  */
/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--color1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::after {
  position: absolute;
  content: "\f078";
  font-family: "FontAwesome";
  right: 0;
  bottom: 0%;
  cursor: pointer;
}

.dropdown img {
  border-radius: 50%;
  width: 50px;
  border: 1px solid var(--color1);
}

/* Dropdown Content (Hidden by Default) */
.dropMenuContainer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.dropdown-content {
  display: block;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px;
  max-width: 90%;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid var(--highlight);
}

/* Links inside the dropdown */
.dropdown-content button {
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-align: right;
  position: relative;
  font-size: 15px;
  font-weight: 400;
}
.dropdown-content a {
  position: relative;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
}
.dropdown-content button::after,
.dropdown-content a::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f104";
  color: #000;
  left: 5%;
}
.show {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover,
.dropdown-content a:hover {
  background-color: #ddd;
  border-bottom: 1px solid var(--head-line);
}
.modal-container-2,
.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 400px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}
.modal-content P {
  margin-top: 5px;
  text-align: right;
}
.modal-content h2 {
  margin: 20px 0px;
  font-size: 20px;
}
.close,
.modal-content-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #446cb3;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.close,
.modal-content-btn:hover {
  background-color: #365690;
}
.alert-danger {
  background-color: rgb(255, 44, 44);
  padding: 30px;
  color: #fff;
}

.success-message {
  position: fixed;
  color: rgb(0, 0, 0);
  right: -27%;
  padding: 15px 10px;
  border-radius: 0px 5px 5px 0px;
  font-weight: 500;
  transition: 0.7s all;
  z-index: 999;
  width: 250px;
  bottom: 15%;
  text-align: center;
  cursor: pointer;
}

.success-message.show-success {
  right: 5%;
  background-color: rgb(250, 250, 250);
  border-top: 5px solid var(--success);
  border-bottom: 5px solid var(--success);
}

.success-message.show-failed {
  right: 4%;
  background-color: rgb(250, 250, 250);
  border-top: 5px solid var(--danger);
  border-bottom: 5px solid var(--danger);
}

.success-message.show-success::after,
.success-message.show-failed::after {
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  color: #000;
  top: 36%;
  right: 5%;
  font-size: 15px;
}

.success-message.show-failed::before {
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f06a";
  color: var(--danger);
  top: 38%;
  left: 3%;
}

.success-message.show-success::before {
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  top: 38%;
  left: 3%;
  color: var(--success);
}

@media only screen and (max-width: 767px) {
  .success-message {
    right: -55%;
  }
}
.favorite_page {
  margin-left: 15px;
  font-size: 20px;
}
.favorite_page a {
  color: var(--card-paragraph);
  position: relative;
}
.favorite_page a::after {
  position: absolute;
  content: attr(data-saved);
  background-color: red;
  font-size: 0.6em;
  border-radius: 50%;
  width: 13px;
  height: 163x;
  color: #fff;
  bottom: 0;
  text-align: center;
  left: 0;
}
.sort-by-overlay {
  width: 100%;
  height: 100vh;
  top: 50%;
  position: absolute;
  display: none;
}
.sort-by-overlay.show {
  display: block;
}
.trusted {
  position: relative;
}
.trusted::after {
  position: absolute;
  content: "عميل معتمد" !important;
  font-size: 10px;
  color: #fff;
  top: -148%;
  text-align: center;
  background: #2b96ea;
  padding: 5px;
  border-radius: 4px;
}
.trusted::before {
  position: absolute;
  content: "\f0d7" !important;
  font-family: "FontAwesome";
  color: #2b96ea;
  top: -54%;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pagination a,
.pagination .current-page {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 5px;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .current-page {
  background-color: #999;
  color: #fff;
}
.no-prop {
  width: 100%;
  direction: rtl;
  margin-top: -176px;
  padding: 15px;
  background-color: #ffffff;
  position: relative;
}
.no-prop > *:not(:first-child) {
  margin-top: 10px;
}
.no-prop p {
  color: #353535;
}
.no-prop img {
  position: absolute;
  top: 0;
  right: 30%;
  opacity: 0.5;
  width: 130px;
}

.update-message {
  position: fixed;
  transform: translateY(550px);
  right: 40%;
  background-color: var(--green-color);
  color: #fff;
  padding: 15px 35px 15px 15px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  cursor: pointer;
  z-index: 999;
}
.update-message::after {
  position: absolute;
  font-weight: 600;
  content: "X";
  top: 30%;
  text-align: center;
  right: 5%;
}
.update-message.show {
  opacity: 1;
  transform: translateY(500px);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}
.update-message.hide {
  opacity: 0;
  transform: translateY(550px);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
