/* Start Landing */
.langing {
    height: 530px;
    background-size: cover;
}

.langing .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


@media (max-width: 767px) {
    .langing .container {
        padding: 0px 0px;
    }
}

.langing .landing-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px
}

/* End Landing */
/* start desgin*/
.design {
    background-color: var(--card-background);
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.design .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.design .container .text {
    padding: 5px 0;
    text-align: right;
}

.design .container .text h2 {
    margin-bottom: 5px;
}

.design .container .text p {
    color: var(--paragraph);
    padding: 10px;
    font-size: 20px;
}

.design .container .text p span {
    margin-left: 10px;
}

.design .sort-by {
    position: relative;
}

.design .sort-by .sort_by_btn {
    border: 1px solid;
    padding: 5px 10px;
    width: 150px;
    height: 40px;
    border: 1px solid var(--highlight);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
}

.design .sort-by .sort_by_btn::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 70%);
    color: #000;
    font-size: 15px;
    transition: .25s all ease;
    pointer-events: none;
}

.design .sort-by .sort_by_btn:hover::after {
    color: var(--tertiary);
}


.design .sort-by .sort_list {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 105%);
    display: none;
    flex-direction: column;
    border: 1px solid var(--highlight);
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    transition: 0.5s ease-in;
    background-color: #fff;
    z-index: 6;
}

.design .sort-by .show_list {
    display: flex;
}

.design .sort-by div a {
    text-decoration: none;
    margin: 5px 0 5px 0;
    color: var(--color8);
    padding: 6px;
}

.design .sort-by div a:hover {
    background-color: var(--color7);
}



@media (max-width: 555px) {
    .design .container .text h2 {
        font-size: 20px;
    }

    .design .sort-by .sort_by_btn {
        width: 120px;
        font-size: 15px;
        display: flex;
        align-items: center !important;
    }
}

@media (max-width:416px) {
    .design .container .text h2 {
        font-size: 12.5px;
    }

    .design .container .text p {
        font-size: 15px;
    }

}

/* end design*/

.info-content {
    padding: 60px 0;
}

.info-content div {
    background-color: var(--card-background);
    padding: 30px;
    border-radius: 10px;
}

.info-content div h1 {
    color: var(--head-line);
}

.info-content ol {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: circle;
}

.info-content ol li {
    line-height: 1.8;
    color: #3f3f3f;
}

.info-content ol li strong {
    margin-left: 5px;
    color: #000;
}

.info-content p {
    margin-top: 20px;
    color: var(--paragraph);
    position: relative;
    line-height: 2;
}


/* start serv */
.ag-format-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-top: 50px;
}

.ag-format-container h1 {
    color: var(--head-line);
}


.ag-courses_box {
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
    width: 100%;

}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.025);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.025);
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: var(--card-background);
    overflow: hidden;
    position: relative;
    height: 220px;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_title h4,
.ag-courses-item_link:hover .ag-courses-item_title p {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    transition: 0.6s all;
}

.ag-courses-item_title {
    user-select: none;
    position: relative;
    min-height: 87px;
    overflow: hidden;
    z-index: 2;

}

.ag-courses-item_title p {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
    color: var(--paragraph);
    transition: 0.6s all;
}

.ag-courses-item_title h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    transition: 0.6s all;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}


.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: var(--tertiary);
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item .ag-courses-item_bg {
    background-color: var(--tertiary);
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}